<br>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Drug Code</th>
    <th>Drug Name</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @drug.code %> </td>
      <td> <%= @drug.name %> </td>
    </tr>
  </tbody>
</table>

<% content_for(:navigationButtons) do %>
  <%= link_to('Edit', edit_drug_path(@drug), class: 'btn btn-secondary') %>
  &nbsp;
  <%= link_to('Back', drugs_path, class: 'btn btn-secondary') %>
<% end %>

