<% patient = Patient.find(@treatment.patient_id) %>
<h1>Update Treatment For <%= patient.person.firstName + ' ' + patient.person.lastName %></h1>
<%= render 'form', treatment: @treatment, patient: patient%>
