<% @page_title = 'Notes | Update Note' %>

<% patient = @treatment.patient %>
<h1>Note update for <%= person_full_name_helper(patient) %></h1>
<%= render 'form', treatment: @treatment, patient: patient%>
