<h1>Treat Patient</h1>



<% if @patient.nil? %>
  <%= render 'shared/find_admitted_patient' %>
<% else %>
  <%= render 'patients/form', patient: @patient %>
  <%= render 'form', treatment: @treatment, patient: @patient %>
<% end %>