<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Dear <%= @patient&.person.firstName + ' ' + @patient&.person.lastName %>,</h1>
<p>
  Please find PDF invoice attached.
</p>
<p>
  Thank you,
</p>
<br>
<br>
<p>
  AllsWell Hospital,
</p>
<p>
  Administration Team
</p>
</body>
</html>