<%= form_with(url: invoice_payments_path, method: :post, remote: request.xhr?, html: { id: 'payment-form', data: { modal: true } }) do %>
  <%= hidden_field_tag(:payment_method_nonce, nil, id: 'nonce') %>
  <button id="submit-button">Request payment method</button>
  <button id="paypal-button" class="btn btn-primary" type="submit">PayPal</button>

<% end %>
<script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>

<!-- Load PayPal's checkout.js Library. -->
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.33.0/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.33.0/js/paypal-checkout.min.js"></script>

<script>
    var button = document.querySelector('#submit-button');
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: '<%= @client_token %>',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            button.addEventListener('click', function () {
                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    });
</script>