<head>
  <meta charset="utf-8">


</head>

<body>
<%= form_with(url: invoice_payments_path, method: :post, local: true) do %>
  <div id="dropin-container"></div>
  <button id="submit-button">Request payment method</button>
  <button id="paypal-button" class="btn btn-primary" type="submit">PayPal</button>
<% end %>
<script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>

<!-- Load PayPal's checkout.js Library. -->
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.33.0/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.33.0/js/paypal-checkout.min.js"></script>

<script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
        authorization: '<%= @client_token %>',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout',
            amount: '10.00',
            currency: 'USD'
        }
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                // Submit payload.nonce to your server
            });
        });});
</script>