<h1>Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>

<% content_for(:navigationButtons) do %>
  <% session[:invoices_edit_back_url] = request.referrer || request.original_url if session[:invoices_edit_back_url].nil? %>
  <%= link_to('Back', session[:invoices_edit_back_url] || invoices_path, class: 'btn btn-secondary') %>
  &nbsp;
  <%= link_to('View', @invoice, class: 'btn btn-secondary') %>
<% end %>
