<h1 class="title-container">INVOICE</h1>

<% if !@admission.nil? %>
  <%= render 'form', invoice: @invoice, admission: @admission %>
<% else %>
  <%= render('shared/find_discharged_patient', action_controller_url: new_invoice_path) %>
<% end %>

<% content_for(:navigationButtons) do %>
  <%= link_to('Cancel', invoices_path, role: 'button', class: 'btn btn-secondary') %>
<% end %>