<h1>Editing Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>

<% content_for(:navigationButtons) do %>
  <%= link_to('View', @diagnosis, class: 'btn btn-secondary') %>&nbsp;
  <%= link_to('Back', diagnoses_path, class: 'btn btn-secondary') %>
<% end %>