<tr>
<td>
  <div class="form-group">
    <%= link_to_remove_association('Remove Drug', f) %>
  </div>
</td>
<td>
  <div class="form-group">
    <%= f.label(:drug_id, 'Drug Name') %><br/>
    <%= f.select(:drug_id, drug_options, { include_blank: 'Select drug' }, { autocomplete: 'drug_id', id: 'drug_select' }) %>
  </div>
</td>
</tr>