<% patient = @prescription.patient %>
<h1 class="title-container">Prescription Update for <%= person_full_name_helper(patient) %></h1>
<%= render('form', prescription: @prescription, patient: patient) %>
