<% patient = Patient.find(@prescription.patient_id) %>
<h1 class="title-container">Prescription Update for <%= patient.person.firstName + ' ' + patient.person.lastName %></h1>
<%= render('form', prescription: @prescription, patient: patient) %>
