<h1>Editing Speciality</h1>

<%= render 'form', speciality: @speciality %>

<% content_for(:navigationButtons) do %>
  <%= link_to('View', @speciality, class: 'btn btn-secondary') %>
  &nbsp;
  <%= link_to('Back', specialities_path, class: 'btn btn-secondary') %>
<% end %>
