<div class="sidebar bg-dark flexbox-child">
  <ul class="list-unstyled">
    <!--<li><a href="#"><i class="fa fa-fw fa-link"></i>toggle-menu</a></li>-->
    <br/>
    <br/>
    <li>
      <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Report</a>
      <ul id="submenu1" class="list-unstyled collapse">
        <li><a href="#">Report</a></li>
        <li><a href="#">Admission</a></li>
        <li><a href="#">Treatment</a></li>
        <li><a href="#">Prescription</a></li>
      </ul>
    </li>
    <li>
      <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Admission</a>
      <ul id="submenu2" class="list-unstyled collapse">
        <li><%= link_to('View All', admissions_path) %></li>
        <li><%= link_to('Admit', new_admission_url) %></li>
        <li><%= link_to('Discharge', authorise_discharge_admissions_path) %></li>
      </ul>
    </li>
    <li>
      <a href="#submenu3" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Treatment</a>
      <ul id="submenu3" class="list-unstyled collapse">
        <li><a href="#">Submenu Item</a></li>
        <li><a href="#">Submenu Item</a></li>
        <li><a href="#">Submenu Item</a></li>
      </ul>
    </li>
    <li>
      <a href="#submenu4" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Prescription</a>
      <ul id="submenu4" class="list-unstyled collapse">
        <li><a href="/prescriptions">View all</a></li>
        <li><a href="#">Submenu Item</a></li>
        <li><a href="#">Submenu Item</a></li>
      </ul>
    </li>
    <li>
      <a href="#submenu5" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i>Hospital Administration</a>
      <ul id="submenu5" class="list-unstyled collapse">
        <li><a href="/staffs">Staff</a></li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/wards">Wards</a></li>
        <li><a href="/drugs">Drugs</a></li>
        <li><a href="/jobTitles">Job Titles</a></li>
        <li><a href="/specialities">Specialities</a></li>
      </ul>
    </li>
    <li><a href="/"><i class="fa fa-fw fa-angle-right"></i>Home</a></li>
  </ul>
</div>