<nav class="navbar navbar-expand navbar-dark bg-dark py-3 flex-column flex-md-row bd-navbar">
  <div class="navbar-collapse collapse">
    <div class="navigationButtons">
      <%= yield(:navigationButtons) if content_for?(:navigationButtons) %>
      &nbsp;
    </div>
    <ul class="navbar-nav ml-md-auto mr-3">
      <%= form_with(url: search_search_path, local: true, method: :get, html: { class: 'form-inline' }) do |search_form| %>
        <span class=""></span>
        <%= search_form.text_field(:q, class: 'form-control mr-2 search-input', type: 'text', style: 'width: 20em;',
                                   placeholder: "\u{2315}" + ' Search patient or ward name...', autocomplete: 'off', id: 'global_search_input') %>

      <% end %>
    </ul>
  </div>
</nav>