<% drugs = prescription.drugs %>
<td>
  <% drugs&.each do |drug| %>
    <%= drug.name %>
    <br>
  <% end %>
</td>
<td><%= prescription.dosage %></td>
<td><%= prescription.treatmentLength %></td>