<h1>Editing Job Title</h1>

<%= render 'form', job_title: @job_title %>

<% content_for(:navigationButtons) do %>
  <%= link_to('View', @job_title, class: 'btn btn-secondary') %>
  &nbsp;
  <%= link_to('Back', job_titles_path, class: 'btn btn-secondary') %>
<% end %>
