// Remove old validation messages
$("#error_explanation").remove();

$('#admission_patient_holder').html('<%= escape_javascript(render('patients/form', patient: @patient))%>')

<%  if @update_patient_fail %>
// Display new validation messages
$('#error_holder_patient_registration').append('<%= escape_javascript(render('shared/errors', model: @patient))%>');
<% end %>

<%  if @update_patient_successful %>
// Display new validation messages
$('#error_holder_patient_registration').append('<%= escape_javascript("<div class='alert alert-success'><p>Patient details updated successfully.</p></div>")%>');
<% end %>


