<%  if @patient_update %>
$('#admission_patient_holder').html('<%= escape_javascript(render('patients/form', patient: @patient))%>')
<%  if @update_patient_successful %>
$('#update_patient_message').html('<p>Patient details updated successfully.</p>')
<% end %>
<% end %>