/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Joins all stylesheets, commented as login style is on it is own
 * require_tree .
 *
 *= require bootstrap
 *= require easy-autocomplete
 *= require DataTables
 *= require print.min.css
 *= require_self
 */

.dropright .dropdown-toggle::after {
    vertical-align: 0.5em;
    float: right;
    border-width: 0.35em;
    border-radius: 0.15em;
}

div.dropdown-menu.show label a {
    color: #343a40;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.top-nav {
    display: block;
    float: top;
}

.nav-and-content {
    width: 100%;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
    height: 100%;
}

.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}

.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
}

.sidebar [data-toggle="collapse"] {
    position: relative;
}

.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free", 'Font Awesome 5 Free Solid';
    font-weight: 900;
    position: absolute;
    right: 1rem;
}

.sidebar.toggled [data-toggle="collapse"]:before {
    content: "\f0da";
}

.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}

/*.sidebar [aria-expanded="true"]:before {*/
/*content: "\f0d8";*/
/*}*/

.sidebar.toggled {
    min-width: 80px;
}

.sidebar-toggle-holder, .sidebar ul ul a i {
    float: left;
}

.content {
    height: 90%;
    overflow: auto;
    position: relative;
}

/*.display-5 {*/
/*font-size: 2.5rem;*/
/*font-weight: 300;*/
/*line-height: 1.2;*/
/*}*/

@media (max-width: 768px) {
    .sidebar {
        min-width: 80px;
    }

    .lbl-nav {
        display: none;
    }

    .sidebar.toggled {
        min-width: 80px;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.d-flex {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

table.borderless td, table.borderless th {
    border: none !important;
}

table.borderless {
    margin-bottom: 0 !important;
}

.btnAlignLeft {
    float: right !important;
}

.none-bs-fieldset {
    border: solid 1px #DDDDDD !important;
    padding: 0 10px 10px 10px;
    border-radius: 3px;
}

.none-bs-legend {
    width: auto;
    padding: 5px;
}

.main-side-list {
    overflow: auto;
    height: 65%;
}

.custom_width_1_6em {
    width: 1.5em;
}

/* Remove the last column on a table when printing, TODO make this specific, so does not remove in invoices/show
 */
@media print {
    table td:last-child {
        display: none
    }

    table th:last-child {
        display: none
    }
}