/*
*= require bootstrap
*= require_self
*/

body {
}

.top-stripe {
    background-color: #343a40;
    height: 45%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
table.borderless td, table.borderless th {
    border: none !important;
}

table.borderless {
    margin-bottom: 0 !important;
}

#login-card {
    width: 32rem;
    padding: 30px;
    transform: translateY(25%) translateX(90%);
    position: absolute;
    display: block;
    align-items: center;
}