<table class="table" style="width: 40%; !important;">
  <tbody>
  <tr>
    <%# Local disables remote/ajax request so it reload the page %>
    <%= form_with(url: new_admission_path, method: :get, local: true, validate: true, html: {class: 'validations'}) do |form| %>
      <td>
        <label>Date of Birth</label><br/>
        <%# TODO add date range, to all date types %>
        <%= form.text_field(:dateOfBirth, type: 'date') %>
      </td>
      <td>
        <label>Last name</label><br/>
        <%= form.text_field(:lastName) %><br/>
      </td>
      </tr>
      <tr>
        <td>
          <%#   %>
          <%= form.submit('Find', class: 'btn btn-primary', id: 'find_registered_patient_submit', data: { disable_with: false }) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>