<% @page_title = 'Admission | Admit' %>

<h1 class="title-container">Admit Patient</h1>

<% if @patient %>
  <fieldset class="none-bs-fieldset">
  <legend class="none-bs-legend">Patient Details</legend>
  <div class="admission_patient_holder">
    <%= render('patients/form', patient: @patient) %>
  </div>
</fieldset>

  <fieldset class="none-bs-fieldset">
    <legend class="none-bs-legend">Admission</legend>
    <%= render('form', admission: @admission, patient: @patient) %>
  </fieldset>  <br/>
  <br/>
<% else %>
  <fieldset class="none-bs-fieldset">
    <%= render('find_form') %>
  </fieldset>
<% end %>