<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag "private_patient_invoice" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
<div id="header">
  <br>
  <%= wicked_pdf_image_tag 'awh_logo_170x92.png' %>
</div>
<div id="container">
  <%= yield %>
</div>
</body>
</html>